<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
    <div id="box_div">
        <h1 th:text="${produtos.nomeDoProduto}">Uma moto</h1>
        <h2 th:text="${produtos.descricao}">Quero:</h2>
        <Button class="whazap"><div class="whazap"><h3 id="whatzap_text">whatzap</h3></div></Button>
    </div>

    <style>
        #box_div{
            position: relative;
            width: 500px;
            background-color:rgb(248, 244, 239);
            border-radius: 20px;
            border-style:outset;
            border-color:  rgb(105, 100, 100);;
        }

        .whazap{
            position:sticky;
            height: 50px;
            width: 300px;
            left: 20%;
            background-color:rgb(81, 232, 55);
            border-radius: 20px;
            border-style:none ;
        }
    </style>
</body>
</html>