#sei{
    position: relative;
    left: 700px;
    top: 100px;
    height: 670px;
    width: 500px;
    border-radius: 10%;
    background-color: #cc7b7b;
}

#nome{
    position:sticky;
 height: 25px;
 left: 120px;
}

#requer{
    position:sticky;
 height: 25px;
 left: 120px;
}

#descricao{
    position:sticky;
 height: 25px;
 left: 120px;
}